@{
    ViewData["Title"] = "Update";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Person

<form method="post" asp-action="Update">
    <div class="form-row">
        <input asp-for="Id" hidden />
        <div class="col-md-4 mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label>Surname</label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label>Age</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label>Address</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label>Position</label>
            <select asp-for="PositionId" class="form-control" asp-items="@(ViewBag.Positions)">
                <option value="">Select Position</option>
            </select>
            <span asp-validation-for="PositionId" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label>Salary</label>
            <select asp-for="SalaryId" class="form-control" asp-items="@(ViewBag.Salaries)">
                <option value="">Select Salary</option>
            </select>
            <span asp-validation-for="SalaryId" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
